.nav
{
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: auto;
	background-color: #333;
	width: 50%;

	text-align: center; /* centers the choices in the navbar */
}

.nav li 
{
	display: inline; /* makes horizontal */
}

.nav li a 
{
	color: white;
	text-decoration: none;
	
	padding: 14px 16px; /* h,v */
	display: inline-block; /* makes them block elements, so the padding applies vertically */
}

.nav li a:hover 
{
	background-color: #111;
}

#vnav
{
	background-color: #666;
	margin: left;
	text-align: left;
	width: 25%;
}

#vnav li
{
	display: block; /* makes vertical (for the sake of the week 9 assignment, I don't really want a vertical navbar on my site) */
}